{% extends 'layout.njk' %}

{% block body %}
  <article class="container px-4 py-16 prose sm:px-6 lg:px-8 lg:prose-xl">

    <!-- header -->
    <header class="mx-auto text-lg max-w-prose">
      <h1>
        <span class="block mt-2 text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl">{{ title }}</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">{{ description }}</p>
    </header>

    <div class="prose-a:text-blue-500 prose-a:visited:text-purple-600">
      {{ content | safe }}
    </div>
  </article>

{% endblock %}
