{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="container py-16 prose prose-xl hover:prose-a:decoration-yellow-500 prose-a:text-blue-500">
    <h1>Welcome to the Tea Review Site!</h1>
    <p>Check out the latest <a href="/posts/">posts</a></p>
  </main>
{% endblock %}
