---
title: Posts
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% block body %}
<div class="px-4 py-12 my-4 bg-white sm:px-6 lg:py-16 lg:px-8">
  <div class="container mx-auto max-w-7xl">
    <!-- header -->
    <div class="text-center">
      <h2
        class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        From the blog
      </h2>
      <p class="max-w-2xl mx-auto mt-3 text-xl text-gray-500 sm:mt-4">
        Check out our latest content
      </p>
    </div>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
    
  </div>
</div>
{% endblock %}

